/* Font */
@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: bold; }

/* Hide unnesecasy elements */
.conn-sensor, .spinner-container, .input-error, .server-error, #global-spinner, .dashboard-refresher, #alert, .window.dashboard.container, .window.slides-list, .window.controlling.container, .window.options {
	display: none;
}

/* Set font */
p {
	font-family: "SegoeUILight";
	font-size: 17px; }

.control-panel p, .title.main-title, .window.login .list label input, .window.register .list label input, .button.button-balanced, .register-succsess button, #alert-content-container {
	font-family: "SegoeUILight"; }

/* Spinner and alert */
#global-spinner, #alert {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.4); }
	/* Spinner content */
	#g-spinner-content-container {
		width: 84%;
		min-height: 40px;
		position: absolute;
		left: 8%;
		top: 35%;
		background-color: white;
		border-radius: 4px;
		box-shadow: 2px 2px 20px #646464; }
		.spinner.global-spinner {
		   position: absolute;
		   top: 50%;
		   margin-top: -14px;
		   width: 100%;
		   left: 2%;
			stroke: black; }
			.spinner.global-spinner svg {
				width: 10%;
				stroke: black; }
		#g-spinner-content-container p {
			position: relative;
			width: 80%;
			left: 12%;
			line-height: 22px;
			margin: 9px 0px;
			text-align: center; }

	/* ALert content */
	#alert-content-container {
		position: absolute;
		top: 35%;
		left: 15%;
		width: 70%;
		border-radius: 2px;
		background-color: white;
		box-shadow: 2px 2px 20px #646464; }
		#alert-content-container p {
			margin: 0px; 
			text-align: center;
			font-size: 16px;
			padding: 5px;}
		#alert-content-container .button-bar {
			border-top: 1px solid #C0D72F;
			border-radius: 0px 0px 2px 2px; }
			#alert-content-container .button-bar .button:first-child {
				border: none;
				border-bottom-left-radius: 2px; }
			#alert-content-container .button-bar .button:last-child {
				border-bottom-right-radius: 2px; }
			#alert-content-container .button-bar .button {
				border: none;
				border-radius: 0px;
				border-left: 1px solid #C0D72F;
				min-height: 36px;
				line-height: 36px; }
				#alert-content-container .button-bar .button.activated {
					background-color: #efefef;
					box-shadow: none; }

/*	Header styling	*/
.bar.bar-header {
	background: linear-gradient(rgb(192, 215, 47), rgb(170, 189, 49), rgb(192, 215, 47));
	background-color: rgb(192, 215, 47);
	box-shadow: 0px 2px 20px #303030;
	border: none; }
	.title.main-title {
		font-size: 25px;
		font-weight: lighter;
		text-shadow: 0 0 3px #5c5c5c;
		margin: auto;
		color: white; }
	.bar.bar-header .icon {
		color: white;
		text-shadow: 0px 0px 3px black; }
		.bar.bar-header .icon.ion-ios-close-empty {
			color: red; }
		.bar .icon.ion-log-in, .bar .icon.ion-person-add {
			position: absolute;
			right: 14px;
			bottom: 7px;
			 font-size: 30px; }
			.icon.ion-log-in.activated, .icon.ion-person-add.activated {
				opacity: 0.5; }
		.icon.ion-connection-bars {
			text-shadow: 0px 0px 3px #404040;
			font-size: 30px;
			position: absolute;
			right: 14px;
			bottom: 6px; }
		.icon.ion-ios-close-empty {
			position: absolute;
			right: 14px;
			bottom: -3px;
			font-size: 45px;
			color: red;
			text-shadow: 0px 0px 3px #404040; }
		.icon.dashboard-refresher {
			font-size: 30px;
			position: absolute;
			right: 55px;
			bottom: 6px; }
			.icon.dashboard-refresher.activated {
				opacity: 0.5 }

/*	Button settings	*/

	/*	Set default Presefy style for all buttons*/
.button.button-balanced {
	border-color: rgba(0, 0, 0, 0.1);
	background-color: rgb(192, 215, 47);
	border-radius: 2px;
	font-size: 1.2em;
	text-shadow: 0 0 2px #101010;
	font-weight: bold; }
	
	/*	Set the proper click effect*/
.button.button-balanced.active, .button.button-balanced.activated {
	border-color: rgba(0, 0, 0, 0.1);
	background-color: #b1c820;
}
	
	/*	Set style of "Sign up" and "Log in" buttons*/
	
	/*	Button icon styling 	*/
.ion-navicon {
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 0 0 3px #000000;
	text-align: right;
}

.icon.ion-log-in {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0px 0px 0px 0px;
}

.icon.ion-android-chekmark-circle {
	font-size: 1.2em;
	margin: 0px 0px 0px 0px;
}

/* Login and register windows */
.window.login .list .item.item-input, .window.register .list .item.item-input {
	border-radius: 0px; }
	.window.login .list .item.item-input.l-username, .window.register .item.item-input.r-username {
		border-top-left-radius: 2px;
		border-top-right-radius: 2px; }
	.window.login .list .item.item-input.l-password, .window.register .item.item-input.r-password {
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px; }
	.window.register .list .item.item-input.on-input-error, .window.login .list .item.item-input.on-input-error {
		border-color: #c5302d;
		border-radius: 2px; }
		.window.login .list label i, .window.register .list label i {
			color: rgb(170, 189, 49); }
		.window.login .list label input, .window.register .list label input {
			padding-left: 5px;
			font-size: 16px; }

.server-error {
	padding: 4px 5px;
  	background-color: rgba(255, 0, 0, 0.1);
  	border-radius: 2px;
  	border: 1px solid rgba(208, 63, 60, 0.2);
  	margin-bottom: 15px; }
  	.server-error p {
  		margin: 0px;
  		font-size: 16px;
  		color: #992E2C; }

.input-error {
	padding: 4px 5px; }
	.input-error p {
		font-size: 15px;
		margin: 0px;
		color: #992E2C; }


.log-in-btn, .register-btn {
	margin-top: 1em;
	font-size: 1.3em; }
	.log-in-btn p, .register-btn p {
		font-family: "SegoeUILight";
		font-weight: lighter;
		display: inline-block;
		padding-left: 0.4em;
		padding-right: 0.4em;
		margin: 0px 0px 0px 0px;
		font-size: 1.2em;
		overflow: initial; }
	
/*	Dashboard	*/
.item.item-thumbnail-left.item-button-right.prese-details {
	border: none;
	margin: 7px;
	padding: 9px 84px 9px 108px;
  	box-shadow: 0 1px 3px rgba(130,  130, 130, 1); }
	.prese-details.activated {
		background-color: rgb(201, 201, 201); }

	.item.item-thumbnail-left.item-button-right.prese-details .thumbnail {
		max-width: 94px;
		max-height: 82px;
		width: 94px;
		height: 82px;
		left: 9px;
		top: 9px; }

	#converting-thumbnail .icon.ion-ios-crop {
		position: absolute;
		left: 9px;
		width: 94px;
		height: 82px;
		font-size: 76px;
		text-align: center;
		padding: 5px;
		border: 1px solid #d0d0d0; }
	#converting-thumbnail .icon.ion-ios-help-empty {
		position: absolute;
		left: 51px;
		font-size: 40px;
		top: 30px; }

	.item.item-thumbnail-left.item-button-right.prese-details .prese-title {
		white-space: normal;
		margin: 0px;
		height: 82px; }

	.button.prese-show-btn {
		height: 82px;
		width: 72px;
		top: 9px;
		right: 9px;
		padding: 0px;
		bottom: 8px;
		background-color: rgb(192, 215, 47);
		border: none;
		border-radius: 0px; }
		.prese-show-btn.activated {
			background-color: rg b(157, 176, 39); }

		.prese-show-btn i {
			position: absolute;	
			width: 100%;
			height: 32px;
			top: 25px; }
			.prese-show-btn i.ion-load-a {
				top: 22px; }

		.prese-show-btn p {
			position: absolute;
			width: 100%;
			bottom: 6px;
			padding: 0px 4px;
			text-shadow: 0px 0px 7px rgb(249, 249, 249);
			color: rgb(100, 100, 100);
			font-weight: bold; }

/* Slide list  */
.row.slide-list.main-row {
	padding: 0px;
}

.row.slide-list.subrow {
	padding: 5px;
	padding-bottom: 0px;
}

.col.slides-list {
	position: relative;
	padding: 0px 5px 5px 0px;
	margin-left: 5px;
	margin-bottom: 5px;
	overflow: hidden;
}

.slide-index {
	position: absolute;
	background-color: #c0d72f;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	top: -10px;
	left: -10px;
}

.slide-index p {
	position: absolute;
	left: 15px;
	top: 11px;
	color: white;
	text-shadow: 0px 0px 3px black;
}

.col.slides-list img {
	max-width: 100%;
	border: 2px solid #c0d72f;
}

.slide-index.selected {
	background-color: green;
}

.col.slides-list img.selected {
	border: 5px solid green;
}

.button.slides-list.show-btn {
	width: 232px;
	height: 100px;
	left: 9px;
	padding: 0px;
	margin-top: 11px;
	margin-bottom: 5px;
	border: none;
	background-color: rgba(158, 158, 158, 1);
	box-shadow: 1px 2px 7px #515151;
	font-size: 11pt;
	font-weight: 500;
	color: #d3d3d3;
	text-shadow: 0px 0px 5px #4d4d4d;
	opacity: 0.4;
}

.button.slides-list.show-btn i {
	position: absolute;
	width: 100%;
	height: 42px;
	top: 20px;
	left: 0px;
}

.button.slides-list p {
	position: absolute;
	width: 100%;
	bottom: 6px;
	margin: 0px;
}

.button.slides-list.show-btn.activated {
	background-color: rgba(88, 88, 88, 0.1);
}

/*	Controlling window	*/	
.bar.prese-title-bar {
	top: 0px;
	height: 30px;
	margin-top: 0px;
	display: none;
	border-bottom: 1px solid #d7d7d7;
}

.bar.prese-title-bar .title.prese-title  {
	height: inherit;
	line-height: 30px;
	font-weight: normal;
	margin: 0px 50px;
}

#prese-title-shadow {
	position: absolute;
	height: 35px;
	width: 100%;
	top: -5px;
	z-index: -1;
	box-shadow: 0px 2px 20px #808080;
}

#iframe-dropdown-btn {
	color: #808080;
	font-size: 30px;
	width: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
}

#cm-slide-box {
	position: absolute;
	right: 14px;
	margin: 0px;
	font-family: "SegoeUIRegular";
}

#iframe {
	position: relative;
	top: 30px;
	padding: 9px 0px 9px 0px;
}

#link {
	border-bottom: 1px solid #d7d7d7;
}

#link p {
	margin: 0px 0px 3px 0px;
	text-align: center;
	font-size: 15px;
}

#control-panel-container {
	position: relative;
	top: 30px;
	border-top: 1px solid #a0a0a0;
	box-shadow: 0px -2px 20px #808080;	
	background-color: white;
}

.control-panel {
	padding: 0px;
}
	/* Buttons */
	.row.control-panel {
		margin-top: 0px;
	}

	.row.control-panel.subrow {
		border-top: none;
		border-left: none;
		border-bottom: 1px solid #d7d7d7;
	}

	.col.control-panel {
		margin: 0px;
	}

	.col.control-panel:nth-child(1), .row.control-panel.subrow:nth-child(1), .row.control-panel.subrow:nth-child(2) {
		border-right: 1px solid #d7d7d7;
	}

	.button.control-panel {
		border: none;
		width: 100%;
		height: 75px;
		border-radius: 0px;
	}

	.col.control-panel.btns .button.control-panel i {
		position: absolute;
		left: 0px;
		top: 9px;
		width: 100%;
	}

	.col.control-panel.btns .button.control-panel p {
		position: absolute;
		margin: 0px;
		bottom: 0px;
		width: 100%;
		font-size: 16px;
	}

	.button.control-panel.activated {
		background-color: #d7d7d7;
		box-shadow: none;
	}

/* Options window */
.window.options .list {
	margin-top: 9px; }

/* Side menu styling */
	#side-menu {
		background-color: #808080;
	}

	#side-menu-content {
		margin-bottom: 44px;
	}

	/*Side menu header*/
	.bar.side-menu-header {
		background-color: #808080;
		border-color: #646464;
		padding: 0px;
		width: 232px;
		left: 9px;
		box-shadow: 0px 4px 14px -9px #d3d3d3;
		border-bottom: 1px solid rgba(211, 211, 211, 0.4);
	}

	.bar.side-menu-header .title {
		text-align: left;
		color: #d3d3d3;
		text-shadow: 0 0 4px #4d4d4d;
		margin: 0px;
  		width: 232px;
  		font-size: 15pt;
  		padding: 0px 5px 0px 5px;
	}
	
	/* Side menu content */
	/*Side menu subheaders*/
	.bar.side-menu-subheader {
		position: relative;
 		width: 232px;
 		height: 38px;
 		margin-top: 5px;
 		padding: 12px 5px 0px 15px;
 		left: 9px;
 		background-color: #808080;
 		color: #d3d3d3;
 		text-transform: uppercase;
 		font-weight: 500;
 		font-size: 10pt;
 		border-bottom: 1px solid rgba(211, 211, 211, 0.4);
	}

	/*Side menu accordions*/
	.side-menu-accordion {
		width: 229px;
  		position: relative;
  		left: 9px;
	}

	.icon.dropdown-icon {
		position: absolute;
		left: 5px;
		font-size: 11pt;
	}

	/*Side menu footer*/
	.bar.side-menu-footer {
		padding: 0 0 0 0px;
		bottom: 0px;
		z-index: 10;
		text-shadow: 0 0 4px #4d4d4d;
		background-color: #808080;
		box-shadow: 0px -3px 14px -9px #d3d3d3;
		border-top: 1px solid rgba(211, 211, 211, 0.4);
		border-bottom: none; 
		left: 9px;
		position: absolute;
		width: 232px; }
		.bar.side-menu-footer p {
			position: absolute;
			width: 100%;
			color: #d3d3d3;
			font-size: 12pt;
			margin: 0px;
			padding: 0px 5px 0px 5px;
			border: none;
			white-space: nowrap; }

	/*Side menu buttons*/
	.side-menu-btn {
		width: 232px;
  		height: 45px;
  		padding: 0px 0px 0px 0px;
  		border: none;
  		left: 9px;
  		color: #d3d3d3;
  		text-shadow: 0px 0px 4px #4d4d4d;
  		text-align: left;
  		font-size: 11pt;
  		box-shadow: 0px 2px 0px 0px #7b7b7b;
	}

	.side-menu-btn p {
		margin: 0px;
		padding-left: 4px;
	}
 
 	.button.side-menu-btn.activated {
		background-color: rgba(88, 88, 88, 0.1);
		opacity: initial;
	}  
	
	/*Controlling buttons*/
	.button.slides-list.show-btn.enabled {
		opacity: 1;
	}

	/*Accordion buttons*/
		.side-menu-accordion button {
			border-left: 3px solid rgba(211, 211, 211, 0.4);
			background: none;
			left: 0px;
		}

		.side-menu-accordion button.current {
			background-color: rgba(211, 211, 211, 0.08);
			border-color: rgb(192, 215, 47);
			pointer-events: all;
			opacity: 1;
		}
	
		.side-menu-accordion .activated {
			background-color: rgba(88, 88, 88, 0.1);
		}
	
		.side-menu-accordion button p {
			padding-left: 15px;
  			white-space: nowrap;
  			overflow: hidden;
		}

		.row.side-menu-prese-row {
			padding: 0px;
			width: 229px;
			margin: 0px;
			border-left: 3px solid rgba(211, 211, 211, 0.4);
		}

		.row.side-menu-prese-row.current {
			background-color: rgba(211, 211, 211, 0.08);
			border-color: rgb(192, 215, 47);	
		}

		.col.side-menu-prese-col {
			padding: 0px;
		}

		.col.side-menu-prese-col button {
			width: 100%;
		}

		.side-menu-accordion .side-menu-btn.prese-btn {
			margin-right: 2px;
			box-shadow: 2px 2px 0px 0px #7b7b7b;
			border: none;
		}

		.side-menu-accordion .side-menu-prese-show-btn {
			text-align: center;
			border: none;
		}

/* Windows */
#main-content {
	top: 50px;
}

.input-label {
	width: 100%;
}

label {
	border-radius: 0.3em;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
}

.logged {
	display: none;
}